@charset "utf-8";

body {
   font-size: 14px;
   letter-spacing: 0.05em;
   line-height: 1.71;
   font-family: "Hiragino Mincho ProN", "Times New Roman",
      "YuMincho",
      "Yu Mincho",
      "MS PMincho",
      serif;
}

.inner {
   width: 1260px;
   max-width: 90.63%;
   margin-left: auto;
   margin-right: auto;
}

h1 {
   font-size: 40px;
   text-align: center;
   margin: 40px 0 40px 0;
}

/*header------------*/
header p {
   font-size: 18px;
}

header img {
   position: relative;
}

/*main----------*/
main .kumon {
   color: #fff;
   background-color: #72C9F3;
}

main h2 {
   font-size: 36px;
}